.b_badge {
    display: flex;
    width: var(--width);
    padding: 20px;
    background-color: var(--sub-color);
    border-radius: 20px;
}

.b_badge img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.b_badge_info {
    width: 100%;
    margin-left: 20px;
    position: relative;
}

.b_badge_name {
    font-size: 60px;
}

.b_badge_description {
    margin-top: 10px;
}

.b_badge_owner {
    position: absolute;
    display: flex;
    right: 0px;
    bottom: 0px;
    align-items: center;
}

.b_badge_owner_span {
    display: flex;
    background-color: var(--grey-color);
    padding: 10px;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
}

.b_badge_owner_span_name {
    display: flex;
    background-color: var(--grey-color);
    padding: 10px;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
}

.b_badge_owner_span_name img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 15px;
}


.b_badge_owner_span_name:hover {
    background-color: var(--main-color);
}

.b_badge_owner_txt {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

.b-badge-recieved-container {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid 2px var(--darkgrey-color);
    border-radius: 15px;
}

.b-badge-recieved {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5px;
    width: var(--width)-40px;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #b3b4b4;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #818181;
}

.b-badge-item {
    display: flex;
    background-color: var(--grey-color);
    margin: 2px;
    padding: 3px;
    border-radius: 15px;
}

.b-badge-item-name {
    display: flex;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
}

.b-badge-item img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 15px;
}

/* -------------------- new badge -------------------- */

.newbadge-container {
    display: flex;
    justify-content: center;
}

.newbadge-row {
    margin-top: 15px;
}

.newbadge-row input {
    width: 700px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    padding: 10px;
    background-color: #e6f7ff;
    font-size: 14px;
}

.newbadge-row textarea {
    width: 700px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    padding: 10px;
    background-color: #e6f7ff;
    font-size: 14px;
}