.b-badge {
    display: flex;
    width: var(--root-width);
    padding: 20px;
    background-color: var(--sub-color);
    border-radius: 20px;
}

.b-badge-profile img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.b-badge-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    /* row-gap column gap */
}

.b-badge-name {
    font-size: 60px;
}

.b-badge-description {
    flex: 1;
    margin-top: 10px;
}

.b-badge-owner {
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.b-badge-owner-span {
    display: flex;
    background-color: var(--grey-color);
    padding: 10px;
    height: 40px;
    align-items: center;
    border-radius: 10px;
}

.b-badge-owner-span-name {
    display: flex;
    background-color: var(--grey-color);
    padding: 10px;
    height: 40px;
    align-items: center;
    border-radius: 10px;
}

.b-badge-owner-span-name img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 15px;
}


.b_badge_owner_span_name:hover {
    background-color: var(--main-color);
}

.b_badge_owner_txt {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

.b-badge-recieved-container {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid 2px var(--darkgrey-color);
    border-radius: 15px;
}

.b-badge-recieved {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5px;
    width: var(--width)-40px;
}

.b-badge-recieved-header h4 {
    margin-top: 15px;
}

/* custom scrollbar */
/* ::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #b3b4b4;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #818181;
} */

.b-badge-item {
    display: flex;
    background-color: var(--grey-color);
    margin: 2px;
    padding: 3px;
    border-radius: 15px;
}

.b-badge-item-name {
    display: flex;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
}

.b-badge-item img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 15px;
}

/* -------------------- new badge -------------------- */

.newbadge-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.newbadge-row {
    margin-top: 15px;
}

.newbadge-row input {
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    padding: 10px;
    background-color: #e6f7ff;
    font-size: 14px;
}

.newbadge-row input:disabled {
    background-color: var(--grey-color);
    border: 2px solid var(--darkgrey-color);
}

.newbadge-row textarea {
    width: 600px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    padding: 10px;
    background-color: #e6f7ff;
    font-size: 14px;
}

.newbadge-row textarea:disabled {
    background-color: var(--grey-color);
    border: 2px solid var(--darkgrey-color);
}

.badge-manage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge-manage h2 {
    text-align: center;
}

.badge-manage-header {
    width: 600px;
    height: 45px;
}

.badge-manage-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.badge-manage-button {
    margin: 20px;
}

.badge-manage-button button {
    margin: 5px;
    width: 300px;
}

.badge-manage-profile img {
    cursor: pointer;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 60px;
    border: 3px solid var(--sub-color);
}

.badge-manage-profile h2 {
    text-align: center;
    cursor: pointer;
}

.badge-manage-profile label {
    cursor: pointer;
}

.badge-created {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.badge-created-item {
    /* height: 50px; */
    display: flex;
    padding: 10px;
    margin: 5px;
    max-width: 500px;
    background-color: var(--grey-color);
    border-radius: 5px;
}

.badge-created-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.badge-created-text {
    max-width: 400px;
    margin-left: 10px;
}

.badge-created-description {
    margin-top: 5px;
    overflow: hidden;
    word-wrap: normal;
    height: 55px;
}

.badge-created-btn {
    display: flex;
    margin-top: 10px;
}

/* .badge-created-btn button {
    margin: 5px;
    cursor: pointer;
    text-align: center;
    width: 80px;
    background-color: var(--darkgrey-color);
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-txt-color);
    font-size: medium;
    border: none;
}

.badge-created-btn button:hover {
    background-color: var(--main-color);
} */