nav {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(26, 26, 36); */
}

.nav-btn {
    text-align: center;
    width: 80px;
    background-color: var(--main-color);
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: medium;
    border: none;
}

.nav-user {
    display: flex;
    align-items: center;
}

.nav-user img {
    border-radius: 15px;
    margin-right: 5px;
}