@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .relay {
        display: none;
    }
}

@media (max-width: 768px) {}

@media (max-width: 678px) {}

@media (max-width: 480px) {

    /* body {
        background-color: brown;
    } */
    body {
        width: 100%;
        /* overflow: hidden; */
    }

    .container {
        width: 100%;
    }

    nav {
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
        top: 0;
        width: 100%;
        background-color: var(--text-color);
        padding: 5px;
        z-index: 999;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }

    nav .logo h1 {
        color: var(--bg-color);
        font-size: xx-large;
    }

    nav .nav-user-name label {
        color: #fff;
    }

    nav .nav-btn-div,
    nav .logo img {
        display: none;
    }

    .home-logo img {
        width: 90%;
    }

    .home-text h1 {
        font-size: 20vw;
    }

    .header-banner {
        margin: 5px;
    }

    .header-address,
    .header-about {
        width: unset;
        margin-left: 5px;
        margin-right: 5px;
    }

    .header-address ul {
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        width: 80%;
    }

    .header-address ul li {
        width: 80%;
    }


    .main .header-picture img {
        width: 80px;
        height: 80px;
        top: 10px;
    }

    .main .badges-item {
        width: 22.5%;
    }

    .main .home .home-input {
        width: 90%;
    }

    .main .badge-created-item {
        width: 90%;
    }


    .main .badge-created-item button {
        width: 100px;
    }

    /* Hide scrollbar for iOS and Safari (Webkit) */
    ::-webkit-scrollbar {
        display: none;
    }

    .badge-manage-profile img {
        margin-top: 15px;
    }

    .main .badge-manage-header,
    .main .newbadge-container,
    .main form,
    .main .newbadge-row input,
    .main .newbadge-row textarea {
        width: 100%;
        padding: 5px;
    }

    .main .b-badge-profile img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .main .badges h3 {
        margin-top: 5px;
    }

    .main .badges-header,
    .main .b-badge,
    .main .b-badge-container {
        position: unset;
        width: 100%;
        padding: 5px;
        border-radius: 10px;
    }


    /* .main .b-badge {
        height: 250px;
    } */

    .main .b-badge-info {
        margin-left: 5px;
    }

    .main .b-badge-name {
        font-size: 30px;
    }

    .main .b-badge-owner {
        /* flex-direction: column; */
        width: 100%;
        margin-top: 20px;
        border-radius: 10px;
    }

    .main .b-badge-owner label {
        display: none;
    }

    .main .b-badge-recieved-header h4 {
        margin-top: 20px;
    }

    .main .b-badge-owner-txt {
        font-size: 12px;
        text-align: center;
    }

    /* .main .award-modal {
        margin-top: 40px;
    } */

    /* .main .award-screen {
        margin-top: 100px;
        width: 95%;
    } */

    .main .award-model-content {
        width: 100%;
        /* height: 140%; */
        /* margin-top: 250px; */
    }

    .main .award-container {
        flex-direction: column;
    }

    .main .award-list {
        height: 300px;
    }

    .main .award-awardlist-container {
        height: 180px;
    }

    .main .award-left,
    .main .award-right {
        width: 100%;
    }

    /* .newbadge-row h3 {
        width: 100%;
    }

    .newbadge-row input,
    .newbadge-row textarea {
        width: 100%;
    } */
}

@media (max-width: 380px) {
    nav {
        z-index: 1;
    }

    .main .award-header-close,
    .main .award-header {
        margin-top: 150px;
    }
}