* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: var(--width);
  margin: 0 auto;
  /* background-color: darkorchid; */
}

.relay {
  position: relative;
}

.relay-list {
  width: 350px;
  position: absolute;
  left: var(--width);
  margin-left: 8px;
  margin-top: 3px;
  /* border: red solid; */
}

.relay-list ul li {
  list-style-type: none;
  /* margin-left: 10px; */
}

.relay-list ul li h5 {
  font-weight: lighter;
  font-style: italic;
}

footer {
  margin-top: 220px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  /* height: 30px; */
  padding: 5px;
  text-align: center;
  align-items: center;
  background-color: var(--sub-color);
}

footer a {
  color: rgb(9, 243, 223);
}

.logo {
  text-align: center;
}

.logo h1 {
  font-size: 40px;
  font-style: italic;
  color: var(--text-color);
}

.logo a {
  text-decoration: none;
}

.purple {
  color: var(--main-color);
}

.div-button {
  display: flex;
  margin-top: 30px;
}

.div-button2 {
  display: flex;
  height: 40px;
}

.btn {
  text-align: center;
  width: 100px;
  background-color: var(--grey-color);
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--grey-color); */
  font-size: medium;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: var(--main-color);
}


.back_btn {
  cursor: pointer;
  text-align: center;
  width: 100px;
  background-color: var(--darkgrey-color);
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--grey-color); */
  font-size: medium;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
}

/* .back_btn:hover {
  background-color: var(--main-color);
} */

.darkgrey-btn {
  cursor: pointer;
  margin: 5px;
  text-align: center;
  width: 150px;
  background-color: var(--darkgrey-color);
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--grey-color); */
  font-size: medium;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
}

/* .darkgrey-btn:hover {
  background-color: var(--main-color);
} */

.main-btn {
  cursor: pointer;
  margin: 5px;
  text-align: center;
  width: 150px;
  background-color: var(--main-color);
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--grey-color); */
  font-size: medium;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
}

.darkgreen-btn {
  cursor: pointer;
  margin: 5px;
  text-align: center;
  width: 150px;
  background-color: var(--darkgreen-color);
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--grey-color); */
  font-size: medium;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
}

/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */